html {
    background-color: #010101;
    color: #8a939e;
}

body {
    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
    line-height: 1.6rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'DM Sans', sans-serif;
    font-weight: 200;
    color: white;
}

h1 {
    font-size: 4rem;
    line-height: 4.4rem;
}

h2 {
    font-size: 2rem;
    line-height: 2.4rem;
}

a {
    color: white;
}

.text-centered {
    text-align: center;
}

.underlined {
    display: inline-block;
    border-bottom: 4px solid #5b32a5;
    padding: 20px;
    margin-bottom: 20px;
}

div {
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
}

.wrapper {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 40px;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    background: #0d111780;
    -webkit-backdrop-filter: blur(16px);
    backdrop-filter: blur(16px);
    border-bottom: 1px solid #2f353c;
    z-index: 1000;
}

.header .cta {
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 1.3rem;
    font-family: 'DM Sans', sans-serif;
    color: white;
}

.header .logo {
    display: inline-block;
}

.header .logo img {
    width: 180px;
}

.hero {
    padding-top: 180px;
    padding-bottom: 100px;
    background-image: url('../images/pxfuel.jpg');
    background-size: cover;
    -webkit-backdrop-filter: opacity(10%);
    backdrop-filter: opacity(10%);
    min-height: 540px;
    overflow: hidden;
}

.hero .column {
    display: flex;
    align-items: center;
}

.hero .column img {
    width: 480px;
    z-index: 1;
}

.hero h1 {
    width: 100%;
    color: white;
}

.sub-hero,
.values {
    padding-top: 40px;
    padding-bottom: 40px;
}

.columns {
    display: grid;
    flex-direction: row;
    grid-gap: 60px;
}

.columns.two {
    grid-template-columns: 1fr 1fr;
}

.columns.three {
    grid-template-columns: 1fr 1fr 1fr;
}

.telcos {
    text-align: center;
}

.telcos img {
    width: auto;
    height: 80px;
    margin: 20px;
    opacity: 70%;
}

.footer {
    background-color: #0d1117;
    border-top: 1px solid #2f353c;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    color: #8a939e;
}

.animation {
    z-index: 0;
}

span.star {
    z-index: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4px;
    height: 4px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1), 0 0 0 8px rgba(255, 255, 255, 0.1), 0 0 20px rgb(73, 167, 243)  ;
    animation:  animate 3s linear infinite;
}

span.star::before{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 300px;
    height: 1px;
    background: linear-gradient(90deg, #57bcfb, transparent);
}

@keyframes animate {
    0% {
        transform: rotate(315deg) translateX(0);
        opacity: 1;
    }

    70% {
        opacity: 1;
    }

    100% {
        transform: rotate(315deg) translateX(-1500px);
        opacity: 0;

    }
}

span.star:nth-child(1){
    top: 0;
    right: 0;
    left:initial;
    animation-delay:0 ;
    animation-duration: 1s;
}

span.star:nth-child(2){
    top: 0;
    right: 80px;
    left:initial;
    animation-delay:0.2s;
    animation-duration: 1s;
}

span.star:nth-child(3){
    top: 80px;
    right: 0px;
    left:initial;
    animation-delay:0.4s ;
    animation-duration: 0.5s;
}

span.star:nth-child(4){
    top: 0;
    right: 180px;
    left:initial;
    animation-delay:0.6s;
    animation-duration: 1.5s;
}

span.star:nth-child(5){
    top: 0;
    right: 400px;
    left:initial;
    animation-delay:0.8s;
    animation-duration: 2.5s;
}

span.star:nth-child(6){
    top: 0;
    right: 600px;
    left:initial;
    animation-delay:1s ;
    animation-duration: 3s;
}

@media only screen and (max-width: 997px) {
    h1 {
        font-size: 2rem;
        line-height: 3.4rem;
    }
}

@media only screen and (max-width: 720px) {


    h2 {
        font-size: 1.2rem;
        line-height: 2rem;
    }

    .wrapper {
        padding: 20px;
    }

    .header a.logo {
        text-align: center;
    }

    .header .cta {
        display: none;
        font-size: 0.8rem;
        justify-content: center;
    }

    .hero h1 {
        padding: 0;
        margin: 0;
        text-align: center;
    }

    .hero .column img {
        width: 100%;
    }

    .header .columns.two {
        grid-gap: 0;
    }

    .columns {
        grid-gap: 20px;
    }

    .columns.two {
        grid-template-columns: none;
        grid-template-rows: min-content 1fr;
    }

    .columns.three {
        grid-template-columns: none;
        grid-template-rows: min-content min-content min-content;
    }

    .sub-hero,
    .values {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .telcos img {
        height: 40px;
    }

    .footer {
        font-size: 0.8rem;
    }
}